html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: coral;
}


.Name{
  color: black;
  font-size: xx-large;
}

.content {
  margin: auto;
}

.button {
  font-size: large;
  border
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}